<h1>Drivers</h1>



<div id=container>
<table class="table table-striped table-hover">

<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Birth date</th>
    </tr>
  </thead>
  <tbody>
  <% if @drivers !=nil %>
  <%@drivers.each do |driver| %>
     <tr class='clickable-row' data-href="<%= driver_path(driver) %>">
      <th scope="row"><%= driver.id %></th>
      <td><%= driver.name %></td>
      <td>
       <%= driver.email %>
      </td>
      <td><%= driver.birth %></td>
    </tr>
    <% end %>

  <% end %>
</table>
</div>
 <a href="driver/new">
       New Driver
      </a>
<script>
// $("#container").on('click-row.bs.table', function (e, row, $element) {
//     window.location = $element.data('href');
// });

jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>