
<div class="card" style="width: 18rem;">

  <%=image_tag ("driver.png")%> 
  <div class="card-body">
    <h3 class="card-title"><%= @driver.name %></h3>
    <p class="card-text">Email:<%=  @driver.email %> </p>
        <p class="card-text">Birth date:<%= @driver.birth %> </p>

  </div>
</div>
<%= link_to "Return", drivers_path %>
