<h1>Cars</h1>
<div id=container>
<table class="table table-striped table-hover">
  <% @cars.each do |car| %>
<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">title</th>
      <th scope="col">type</th>
      <th scope="col">color</th>
    </tr>
  </thead>
  <tbody>

    <tr class='clickable-row' data-href="<%= car_path(car) %>">
      <th scope="row"><%= car.id %></th>
      <td><%= car.title %></td>
      <td>
      <%# <%= car.type %> %>
      </td>
      <td><%= car.colorID %></td>
    </tr>
  

  <% end %>
</table>
</div>
 <a href="car/new">
       New Car
      </a>
<script>
$("#container").on('click-row.bs.table', function (e, row, $element) {
    window.location = $element.data('href');
});
// jQuery(document).ready(function($) {
//     $(".clickable-row").click(function() {
//         window.location = $(this).data("href");
//     });
// });
</script>