
<div class="card" style="width: 18rem;">

<% if @car.color == 'red' %>
  <%=image_tag ("red.jpg")%> 
<% elsif @car.color == 'blue'%>
   <%=image_tag ("blue.jpg")%> 
<% else %>
   <%=image_tag ("yellow.jpg")%> 

<% end %>


  <div class="card-body">
    <h3 class="card-title"><%= @car.title %></h3>
    <p class="card-text">Type:<%= @car.type_car %> </p>
        <p class="card-text">Color:<%= @car.color %> </p>

  </div>
</div>
<%= link_to "Cars list", cars_path %>